:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue) 100%);
  padding: 2.5rem 1.5rem;
  min-height: 100vh;
}

main {
  position: relative;
}

.card {
  background-color: #fff;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
  padding: 0 1.5rem 3.5rem;
  margin-top: 6.75rem;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  background-image: url('/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}

.card__img {
  max-width: 237px;
  margin-top: -110px;
}

.card__title {
  font-size: 2rem;
  line-height: 1.25;
  text-align: center;
  color: var(--very-dark-desaturated-blue);
}

.card__content {
  align-self: stretch;
}

.questions {
  margin-top: 1.875rem;
}

.questions__item {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.question__heading {
  color: var(--very-dark-grayish-blue);
  font-size: 0.8125rem;
  line-height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  cursor: pointer;
  transition: color 0.2s;
}

.question__heading:hover {
  color: var(--soft-red);
}

.questions__item.active .question__heading {
  font-weight: 700;
}

.question__heading img {
  width: 8px;
  transition: transform 0.2s ease;
}

.questions__item.active .question__heading img {
  transform: rotate(180deg);
}

.question__body {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--dark-grayish-blue);
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.questions__item.active .question__body {
  margin-bottom: 1rem;
}

.main__img {
  display: none;
  position: absolute;
  left: 0;
  width: 190px;
  left: -95px;
  top: 190px;
  z-index: 1;
}

@media (min-width: 1110px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    flex-direction: row;
    max-width: 920px;
    background-image: url('/bg-pattern-desktop.svg');
    background-position: left -600px top -295px;
    gap: 5.375rem;
    margin-top: 0;
    padding-top: 4rem;
    padding-right: 5.875rem;
    padding-bottom: 5.25rem;
    margin-left: 0;
    overflow: hidden;
  }

  .main__img {
    display: block;
  }

  .card__title {
    text-align: left;
  }

  .card__img {
    min-width: 472px;
    margin-left: -110px;
    margin-top: 0;
  }

  .question__heading {
    font-size: 0.875rem;
    padding: 0.875rem 0;
  }
}
